@inherits Umbraco.Web.Mvc.UmbracoViewPage<CMSUppgift.core.ViewModel.ResetPasswordViewModel>
@using CMSUppgift.core.Controllers
@{ 
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@if(TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <h3>Password Changed!</h3>
    <p> Password changed! PLease login</p>
    <a href="/login">Go to login</a>
}
else
{


<div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>("HandleResetPassword"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                <fieldset>
                    <legend>
                        Resent your password
                    </legend>
                    <p>
                        Enter a new password:
                    </p>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" name="submit">Change password</button>
                    </div>
                </fieldset>
                }
            </div>
        </div>
    </div>
}
